body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Exo 2', sans-serif;
}
html.open_hand{
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
html.closed_hand{
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
#ui{
    position:absolute;
    width:300px;
    margin: 20px;
    margin-left: 25px;
    padding: 10px;
    background:rgba(230,220,220,0.5);
    
    /* Round Border */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
    -khtml-border-radius: 10px;
    
    /* No Text Select */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.slider{
    width: 300px;
    margin-bottom:5px;
    margin-top:4px;
}
.slider .ui-slider-range { background: #ef2929; }
.ui-slider-handle.ui-state-default.ui-corner-all { border-color: #9A004D; width:15px; cursor:pointer; }  

#menuButton{
    width:100%; height:30px; font-size:15px;
}
#sliders{
    padding-top:10px;
}
.info{
    padding-top:8px;
}
.info > span{
    font-size:20px;
    font-weight: bold;
}
#roofText{
    margin-top:10px;
}
#sound{
    padding:5px;
    float:right;
}
#sound > span{
    -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Chrome, Safari, Opera */
    transform: scale(2);
}
.controls{
    position:relative;
    left:27px; 
    top:5px; 
    color:#333333;
}
